<section class="preview-section">
  <div class="preview-section__aliner-div">
    <button class="reset-button">
      <i class="fa-regular fa-trash-can reset-button__trash"></i>
      <span class="reset-button__text">Reset</span>
    </button>
    <article class="preview-card js_preview">
      <div class="preview-card__div rectangle">
        <h3 class="preview-card__div--name name js-name">Nombre apellido</h3>
        <p class="preview-card__div--profession profession js-profession">
          Front-end developer
        </p>
      </div>
      <div class="preview-card__image"></div>
      <nav>
        <ul class="card-list">
          <li class="card-list__item border">
            <a href="" class="card-list__item--link icon-palette js-phone"
              ><i class="fa-solid fa-mobile-screen-button"></i
            ></a>
          </li>
          <li class="card-list__item border">
            <a href="" class="card-list__item--link icon-palette js-email"
              ><i class="fa-regular fa-envelope"></i
            ></a>
          </li>
          <li class="card-list__item border">
            <a href="" class="card-list__item--link icon-palette js-linkedin"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li class="card-list__item border">
            <a href="" class="card-list__item--link icon-palette js-git"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
