<section>
  <button>
    <i class="fa-regular fa-trash-can"></i>
    Reset
  </button>
  <article>
    <h3>Nombre apellido</h3>
    <p>Front-end developer</p>
    <img src="#" alt="imagen de perfil" />
    <nav>
      <ul>
        <li>
          <a href="#"><i class="fa-regular fa-mobile-screen-button"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-regular fa-envelope"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
        </li>
      </ul>
    </nav>
  </article>
</section>
