<main>
  <article>
    <img
      src="./assets/images/logo-awesome-profile-cards.svg"
      alt="Logo de la aplicación"
    />
    <h1>Crea tu tarjeta de visita</h1>
    <p>Crea mejores contactos profesionales de forma fácil y cómoda</p>
  </article>
  <section>
    <ul>
      <li>
        <div>
          <i class="fa-regular fa-object-ungroup"></i>

          <p>Diseña</p>
        </div>
      </li>

      <li>
        <div>
          <i class="fa-light fa-keyboard"></i>
          <p>Rellena</p>
        </div>
      </li>

      <li>
        <div>
          <i class="fa-solid fa-square-share-nodes"></i>
          <p>Comparte</p>
        </div>
      </li>
    </ul>
    <button><a href="./design.html">Comenzar</a></button>
  </section>
</main>
