<form>
  <fieldset>
    <div>
      <i class="fa-regular fa-object-ungroup"></i>
      <p>Diseña</p>
      <i class="fa-solid fa-angle-up"></i>
    </div>

    <label>Colores</label>
    <div>
      <input type="radio" name="cold-colors" id="" />
      <input type="color" value="#114e4e" id="darkgreenblue" />
      <input type="color" value="#438792" id="dirtyblue" />
      <input type="color" value="#a2deaf" id="hospitalgreen" />
    </div>

    <div>
      <input type="radio" name="warm-colors" id="" />
      <input type="color" value="#420101" id="driedblood" />
      <input type="color" value="#bd1010" id="rustyred" />
      <input type="color" value="#e95626" id="tomato" />
    </div>

    <div>
      <input type="radio" name="mix-colors" id="" />
      <input type="color" value="#3e5b65" id="slate" />
      <input type="color" value="#eab052" id="fadedorange" />
      <input type="color" value="#a0c0cf" id="lightgreyblue" />
    </div>
  </fieldset>

  <fieldset>
    <div>
      <i class="fa-light fa-keyboard"></i>
      <p>Rellena</p>
      <i class="fa-solid fa-angle-up"></i>
    </div>

    <label for="name">Nombre completo</label>
    <input id="name" type="text" name="name" placeholder="Ej: Pepita Pérez" />
    <label for="profession">Puesto</label>
    <input
      id="profession"
      type="text"
      name="profession"
      placeholder="Ej: Front-end developer"
    />
    <label for="image">Imagen de perfil</label>
    <input id="image" type="file" name="image" />

    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      placeholder="Ej: pepita.perez@gmail.com"
    />

    <label for="telef">Teléfono</label>
    <input id="telef" type="tel" placeholder="Ej: 000-000-000" />

    <label for="Linkedin">Linkedin</label>
    <input
      type="text"
      name="Linkedin"
      id="Linkedin"
      placeholder="Ej: linkedin.com/in/Pepita/Perez"
    />

    <label>GitHub</label>
    <input type="text" name="GitHub" id="GitHub" placeholder="Ej: @Pepiperez" />
  </fieldset>
  <fieldset>
    <div>
      <i class="fa-solid fa-square-share-nodes"></i>
      <p>Comparte</p>
      <i class="fa-solid fa-angle-up"></i>
    </div>

    <button>
      <i class="fa-solid fa-address-card"></i>

      Crear tarjeta
    </button>
  </fieldset>
</form>
