<form>
  <fieldset>Diseña</fieldset>

  <label>Colores</label>
  <div>
    <input type="radio" name="palette" id="" />
   <span></span>
   <span></span>
   <span></span>
    
  </div>

  <div>
    <input type="radio" name="palette" id="" />
    <span></span
    <span></span>
    <span></span>
  </div>

  <div>
    <input type="radio" name="palette" id="" />
    <span></span>
    <span></span>
    <span></span>
  </div>
  <fieldset>Rellena</fieldset>

  <label for="name">Nombre completo</label>
  <input id="name" type="text" name="name" placeholder="Ej: Pepita Pérez" />
  <label for="profession">Puesto</label>
  <input
    id="profession"
    type="text"
    name="profession"
    placeholder="Ej: Front-end developer"
  />
  <label for="image">Imagen de perfil</label>
  <label for="image"> Añadir imagen</label>

  <label for="email">Email</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="Ej: pepita.perez@gmail.com"
  />

  <label for="telef">Teléfono</label>
  <input id="telef" type="tel" placeholder="Ej: 000-000-000" />

  <label for="Linkedin">Linkedin</label>
  <input
    type="text"
    name="Linkedin"
    id="Linkedin"
    placeholder="Ej: linkedin.com/in/Pepita/Perez"
  />

  <label>GitHub</label>
  <input type="text" name="GitHub" id="GitHub" placeholder="Ej: @Pepiperez" />

  <fieldset>Comparte</fieldset>
  <button>Crear tarjeta</button>
</form>
