<section class="preview-section">
  <div class="preview-section__aliner-div">
    <button class="reset-button">
      <i class="fa-regular fa-trash-can reset-button__trash"></i>
      <span class="reset-button__text">Reset</span>
    </button>
    <article class="preview-card">
      <div class="preview-card__div">
        <h3 class="preview-card__div--name">Nombre apellido</h3>
        <p class="preview-card__div--profession">Front-end developer</p>
      </div>
      <div class="preview-card__image"></div>
      <nav class="">
        <ul class="card-list">
          <li class="card-list__item">
            <a href="#" class="card-list__item--link"
              ><i class="fa-solid fa-mobile-screen-button"></i
            ></a>
          </li>
          <li class="card-list__item">
            <a href="#" class="card-list__item--link"
              ><i class="fa-regular fa-envelope"></i
            ></a>
          </li>
          <li class="card-list__item">
            <a href="#" class="card-list__item--link"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li class="card-list__item">
            <a href="#" class="card-list__item--link"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
