<!--STUFFED-->
<fieldset class="stuffed-fieldset">
  <div class="stuffed js-stuffed-container">
    <i class="fa-regular fa-keyboard keyboard"></i>
    <p class="stuffed__text-stuffed">Rellena</p>
    <i class="fa-solid fa-angle-up collapsible js-arrow2"></i>
  </div>
  <!--NAME-->
  <div
    class="stuffed__stuffed-form hidden js-stuffed js-stuffed-form js-reset-form"
  >
    <label class="stuffed-titles" for="name">Nombre completo</label>
    <input
      class="stuffed-titles__stuffed-texts js-forname js_reset-name"
      id="name"
      type="text"
      name="name"
      placeholder="Ej: Pepita Pérez"
      required
    />
    <!--PROFESSION-->
    <label class="stuffed-titles" for="profession">Puesto</label>
    <input
      class="stuffed-titles__stuffed-texts js-forjob js_reset-job"
      id="profession"
      type="text"
      name="profession"
      placeholder="Ej: Front-end developer"
      required
    />
    <!--ADD IMAGE-->
    <label class="stuffed-titles" for="image">Imagen de perfil</label>
    <div class="false-stuffed">
      <label class="false-stuffed__false-button js__profile-trigger" for="image"
        >Añadir imagen</label
      >
      <input
        class="hidden js__profile-upload-btn js-forimage"
        type="file"
        id="image"
        name="image"
      />
      <div class="false-stuffed__false-square js__profile-preview"></div>
    </div>
    <!--EMAIL-->
    <label class="stuffed-titles" for="email">Email</label>
    <input
      class="stuffed-titles__stuffed-texts js-formail js_reset-mail"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: pepita.perez@gmail.com"
      required
    />
    <!--PHONE-->
    <label class="stuffed-titles" for="telef">Teléfono</label>
    <input
      class="stuffed-titles__stuffed-texts js-forphone js_reset-phone"
      id="phone"
      type="tel"
      name="phone"
      placeholder="Ej: 000-000-000"
      required
    />
    <!--SOCIAL MEDIA-->
    <label class="stuffed-titles" for="Linkedin">Linkedin</label>
    <input
      class="stuffed-titles__stuffed-texts js-forlkdn js_reset-linkedin"
      type="text"
      name="Linkedin"
      id="Linkedin"
      placeholder="Ej: PepitaPerez"
    />
    <label class="stuffed-titles" for="GitHub">GitHub</label>
    <input
      class="stuffed-titles__stuffed-texts js-forgit js_reset-git"
      type="text"
      name="GitHub"
      id="GitHub"
      placeholder="Ej: PepiPerez"
    />
    <span class="cutting-line2"></span>
  </div>
</fieldset>
