<!--SHARE AND CARD-->
<fieldset class="design-share">
  <div class="share-legend js-share-container">
    <i class="fa-solid fa-square-share-nodes share-legend__icon"></i>
    <p class="share-legend__text">Comparte</p>
    <i class="fa-solid fa-angle-up share-legend__arrow js-arrow3"></i>
  </div>
  <section class="section-share-1 hidden js-share">
    <button class="card-button js-button-share">
      <i class="fa-solid fa-address-card card-button__icon"></i>
      <span class="card-button__text">Crear tarjeta</span>
    </button>
    <span class="section-share__line"></span>
  </section>
  <section class="share-newcard card-hidden js-section-link">
    <h3 class="share-newcard__text js-false">La tarjeta ha sido creada:</h3>
    <a target="blank" class="share-newcard__link js-true" href=""></a>
    <button class="share-newcard__button js-btn-twitter">
      <a class="link-twitter"></a>
    </button>
    <span class="section-share__line"></span>
  </section>
</fieldset>
