<!--DESIGN-->
<fieldset class="design-fieldset">
  <div class="design js-design-container">
    <i class="fa-regular fa-object-ungroup screens"></i>
    <p class="design__text-design">Diseña</p>
    <i class="fa-solid fa-angle-up collapsible js-arrow1"></i>
  </div>
  <!--COLORS-->
  <!--PALLETE ONE-->
  <section class="design-fieldset__design-section js-design js-reset-form">
    <div class="colors__colors-box">
      <label for="palette" class="colors">Colores</label>
      <input
        class="colors__colors-input js_radio1 js_radio"
        type="radio"
        name="palette"
        id="1"
        value="1"
      />
      <span class="spectrum-blue1"></span>
      <span class="spectrum-blue2"></span>
      <span class="spectrum-blue3"></span>
    </div>
    <!--PALETTE TWO-->
    <div class="colors__colors-box">
      <input
        class="colors__colors-input js_radio2 js_radio"
        type="radio"
        name="palette"
        id="2"
        value="2"
      />
      <span class="spectrum-warm1"></span>
      <span class="spectrum-warm2"></span>
      <span class="spectrum-warm3"></span>
    </div>
    <!--PALETTE THREE-->
    <div class="colors__colors-box">
      <input
        class="colors__colors-input js_radio3 js_radio"
        type="radio"
        name="palette"
        id="3"
        value="3"
      />
      <span class="spectrum-mix1"></span>
      <span class="spectrum-mix2"></span>
      <span class="spectrum-mix3"></span>
    </div>
    <span class="cutting-line1"></span>
  </section>
</fieldset>
