<!--STUFFED-->
<fieldset class="stuffed-fieldset">
  <div class="stuffed">
    <i class="fa-regular fa-keyboard keyboard"></i>
    <p class="stuffed__text-stuffed">Rellena</p>
    <i class="fa-solid fa-angle-up collapsible"></i>
  </div>
  <!--NAME-->
  <div class="stuffed__stuffed-form">
    <label class="stuffed-titles" for="name">Nombre completo</label>
    <input
      class="stuffed-titles__stuffed-texts"
      id="name"
      type="text"
      name="name"
      placeholder="Ej: Pepita Pérez"
    />
    <!--PROFESSION-->
    <label class="stuffed-titles" for="profession">Puesto</label>
    <input
      class="stuffed-titles__stuffed-texts"
      id="profession"
      type="text"
      name="profession"
      placeholder="Ej: Front-end developer"
    />
    <!--ADD IMAGE-->
    <label class="stuffed-titles" for="image">Imagen de perfil</label>
    <div class="false-stuffed">
      <label class="false-stuffed__false-button" for="image"
        >Añadir imagen</label
      >
      <span class="false-stuffed__false-square"></span>
    </div>
    <!--EMAIL-->
    <label class="stuffed-titles" for="email">Email</label>
    <input
      class="stuffed-titles__stuffed-texts"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: pepita.perez@gmail.com"
    />
    <!--PHONE-->
    <label class="stuffed-titles" for="telef">Teléfono</label>
    <input
      class="stuffed-titles__stuffed-texts"
      id="telef"
      type="tel"
      placeholder="Ej: 000-000-000"
    />
    <!--SOCIAL MEDIA-->
    <label class="stuffed-titles" for="Linkedin">Linkedin</label>
    <input
      class="stuffed-titles__stuffed-texts"
      type="text"
      name="Linkedin"
      id="Linkedin"
      placeholder="Ej: linkedin.com/in/Pepita/Perez"
    />
    <label class="stuffed-titles" for="GitHub">GitHub</label>
    <input
      class="stuffed-titles__stuffed-texts"
      type="text"
      name="GitHub"
      id="GitHub"
      placeholder="Ej: @Pepiperez"
    />
    <span class="cutting-line2"></span>
  </div>
</fieldset>
